@import "./main.scss";

.main {
	background: #fff;
}

.navbar {
	height: 100%;
}

.navbar__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;

	.navbar__icon {
		width: 120px;

		img {
			width: 100%;
		}
	}
}
