@import "./main.scss";

.product__nav {
	padding: 20px 0px;
}

.product__image {
	height: 450px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.owl-carousel {
	.owl-prev,
	.owl-next {
		top: 80% !important;
	}
}

.nav-tabs {
	justify-content: flex-start;
}
